.btn {
  border: 0;
  background-color: transparent;
  padding: 1rem 1.7rem;
  color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
  border-radius: 2px;
  text-decoration: none;
  transform: translateZ(0);
  transition: background-position 0.2s ease, transform 0.2s ease;
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform, background-position;
}

.primary {
  color: var(--navs-color);
  background-image: linear-gradient(
    135deg,
    #e9c156,
    #ffffaa,
    #e1ab39,
    #976444,
    #e9c156
  );
  background-size: 120%;
  background-position: 100%;
}

.secondary {
  color: var(--navs-color);
  background-image: linear-gradient(
    135deg,
    #8d95a2,
    #d1d3d4,
    #ffffff,
    #949296,
    #f1f2f2
  );
  background-size: 120%;
  background-position: 100%;
}

.secondary:is(:hover, :focus),
.primary:is(:hover, :focus) {
  background-position: 0;
  transform: scale(1.02) translateZ(0);
}
