.category-card-container {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  aspect-ratio: 12 / 9;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}

.category-card-container > * {
  z-index: 2;
}

.category-card-container p {
  background-color: var(--navs-color);
  padding: 0.5rem 1rem;
  border-start-end-radius: 2px;
}

.category-card-container h4 {
  font-size: var(--title-small);
  background-color: rgba(6, 13, 13, 0.8);
  padding: 0.5rem 3rem 0.5rem 1rem;
  position: relative;
  z-index: 2;
  border-start-end-radius: 2px;
  border-end-end-radius: 2px;
  overflow: hidden;
}

.category-card-container h4::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    45deg,
    #e9c156,
    #ffffaa,
    #e1ab39,
    #7e5d48,
    #e9c156
  );
  z-index: -1;
  transform-origin: left;
  scale: 0 1;
  transition: scale 0.3s ease-in-out;
}

.category-card-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--_backgroundImage);
  background-size: cover;
  filter: grayscale(10) brightness(0.4);
  transition: filter 0.3s ease-in-out;
}

.category-card-container:hover h4,
.category-card-container:focus h4 {
  background-color: transparent;
  color: var(--navs-color);
  transition: color 0.3s ease-in-out;
}

.category-card-container:hover h4::before,
.category-card-container:focus h4::before {
  scale: 1 1;
}

.category-card-container:hover::before,
.category-card-container:focus::before {
  filter: none;
}
