.category-displayer-container {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  transform: translateY(10%);
  opacity: 0;
  transition: 0.3s ease-in-out 0.8s;
}

.loaded .category-displayer-container {
  opacity: 1;
  transform: none;
}

.category-displayer-btns {
  list-style-type: none;
  min-width: fit-content;
  position: sticky;
  top: 6rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.025);
}

.category-displayer-btns li {
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease-in-out;
}

.category-displayer-btns li.active {
  position: relative;
}

.category-displayer-btns li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10%;
  scale: 0 1;
  transform-origin: left;
  background-image: linear-gradient(
    135deg,
    #e9c156,
    #ffffaa,
    #e1ab39,
    #7e5d48,
    #e9c156
  );
  background-attachment: fixed;
  z-index: 2;
}

.category-displayer-btns li::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--navs-color);
  z-index: 1;
  opacity: 0;
  transform-origin: left;
}

.category-displayer-btns .active::before {
  transition: scale 0.1s ease-in-out 0.2s;
  scale: 1 1;
}

.category-displayer-btns .active::after {
  opacity: 1;
}

.category-displayer-btns li .btn {
  padding-inline: 4rem 2rem;
  z-index: 3;
  position: relative;
}

.category-displayer-btns li .btn::before,
.category-displayer-btns li .btn::after {
  content: "";
  position: absolute;
  right: 0;
  aspect-ratio: 1;
  z-index: 1;
  opacity: 0;
}

.category-displayer-btns li .btn::before {
  top: 0;
  height: 50%;
  background-image: linear-gradient(
    -45deg,
    var(--bg-color) 50%,
    var(--navs-color) 50%
  );
}
.category-displayer-btns li .btn::after {
  background-image: linear-gradient(
    45deg,
    var(--navs-color) 50%,
    var(--bg-color) 50%
  );
  bottom: 0;
  height: 50%;
}

.category-displayer-btns li.active .btn::before,
.category-displayer-btns li.active .btn::after {
  opacity: 1;
}

.category-displayer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  gap: 1rem;
}

.category-displayer-content img {
  max-width: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: left 70%;
}

.category-displayer-content .category-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.category-displayer-content p {
  width: 100%;
  max-width: 70ch;
}

.category-displayer-content .category-content {
  display: none;
  gap: 2.25rem;
  align-items: flex-start;
  opacity: 0;
}

.category-displayer-content .category-content.active {
  display: flex;
  animation: fade-in-category 0.3s ease-in-out 0.1s forwards;
}

@media (width < 75rem) {
  .category-content {
    flex-direction: column;
  }
  .category-displayer-content img {
    max-width: 100%;
  }
}

@media (width < 43.75rem) {
  .category-displayer-container {
    flex-direction: column;
  }

  .category-displayer-btns {
    position: static;
    width: 100%;
  }

  .category-displayer-btns li {
    width: 100%;
  }
}

@keyframes fade-in-category {
  to {
    opacity: 1;
  }
}
