.comment-display {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--secondary-color);
  padding: 1rem 1.7rem;
  width: 100%;
  border-radius: 5px;
}

p.limited {
  max-height: 12.5ch;
  overflow: hidden;
  position: relative;
}

p.elipsis::before {
  position: absolute;
  background: linear-gradient(90deg, transparent, var(--secondary-color) 25%);
  content: "...";
  bottom: 0;
  padding-left: 2rem;
  right: 0;
  font-weight: bold;
}

blockquote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

blockquote footer {
  color: var(--thirtary-color);
  font-weight: bold;
}
