.comment-display {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--secondary-color);
  padding: 1rem 1.7rem;
  width: 100%;
  border-radius: 5px;
}

blockquote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* min-width: 60ch; */
}

blockquote footer {
  color: var(--thirtary-color);
  font-weight: bold;
}
