.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  gap: 3rem;
  background-color: var(--navs-color);
}

.footer-container {
  display: flex;
  gap: 4rem;
  width: 100%;
  max-width: 93.75rem;
  justify-content: space-between;
}

.footer-about-us,
.footer-contact-information,
.footer-links {
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex: 1 1;
  color: var(--text-color);
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.footer-container span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}

.page-footer a {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  line-height: 1rem;
}

.page-footer strong {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 93.75rem;
  color: var(--text-color);
}

.copyright span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.5;
}

.social-media {
  display: flex;
  gap: 1rem;
}

.social-media .social-media-icon {
  font-size: 1.75rem;
}

@media (width < 700px) {
  .footer-container {
    flex-direction: column;
    gap: 3rem;
  }
  .footer-about-us,
  .footer-contact-information,
  .footer-links {
    max-width: none;
  }

  .copyright {
    flex-direction: column;
    gap: 1rem;
  }

  .copyright .social-media {
    order: -1;
    margin-bottom: 1rem;
  }

  .social-media .social-media-icon {
    font-size: 1.5rem;
  }
}
