.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 1rem 3rem;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 1s;
}

.loaded .header-container {
  opacity: 1;
}

.header-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/hero-bg-small.webp") center/cover no-repeat;
  filter: grayscale(0.2) brightness(0.2);
  transition: filter 0.3s ease-in-out 1s;
  z-index: -1;
}

.header-content {
  z-index: 1;
  width: 100%;
  max-width: 93.75rem;
  transform: translateX(-3rem);
  opacity: 0;
  transition: transform 0.3s ease-in-out 1.3s, opacity 0.3s ease-in-out 1.3s;
}

.loaded .header-content {
  transform: translateX(0);
  opacity: 1;
}
