.hero-container {
  width: 100%;
  height: calc(100vh - 4.985375rem);
  height: calc(100svh - 4.985375rem);
  background: url("/hero-bg-big.webp") center/cover no-repeat;
  transform: scaleX(-1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.5s;
  position: relative;
}

.loaded .hero-container {
  opacity: 1;
}

.hero-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to left,
    hsla(180, 37%, 4%, 0.9),
    hsla(180, 37%, 4%, 0.7),
    hsla(180, 37%, 4%, 0)
  );
  z-index: 1;
}

.hero-content {
  width: 100%;
  max-width: 93.75rem;
  transform: scaleX(-1) translateY(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  translate: 3rem;
  opacity: 0;
  transition: translate 0.3s ease-in-out 0.8s, opacity 0.3s ease-in-out 0.8s;
}

.loaded .hero-content {
  translate: 0;
  opacity: 1;
}

.hero-content p {
  color: var(--text-color);
  font-size: 1.2rem;
}

.hero-info-container {
  position: absolute;
  z-index: 2;
  transform: scaleX(-1);
  inset: auto 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 2rem 1rem;
  background-image: linear-gradient(
    135deg,
    #e9c156,
    #ffffaa,
    #e1ab39,
    #7e5d48,
    #e9c156
  );
  transition: opacity 0.2s ease-in-out 0.8s;
  opacity: 0;
  background-size: 120%;
  animation: info-background-moving 30s infinite alternate;
}

.hero-info-container p {
  text-align: center;
  color: var(--navs-color);
}

.hero-info-container a {
  color: var(--navs-color);
}

.loaded .hero-info-container {
  opacity: 1;
}

@media (width < 43.75rem) {
  .hero-container {
    background-image: url("/hero-bg-small.webp");
    transform: scaleX(1);
  }

  .hero-container::before {
    background: hsla(180, 37%, 4%, 0.8);
  }

  .hero-content {
    transform: scaleX(1) translateY(-20%);
  }

  .hero-info-container {
    transform: scaleX(1);
    padding: 1.5rem 1rem;
  }
}

@keyframes info-background-moving {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
