.image-slider {
  position: absolute;
  inset: 0;
}

.image-slider .image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  opacity: 0;
  pointer-events: none;
}

.image-slider .image.active {
  opacity: 1;
  transition: opacity 0.5s ease;
}
