.image-card-container {
  all: unset;
  box-sizing: border-box;
  display: flex;
  aspect-ratio: 1;
  background: var(--bgImage) center/cover no-repeat;
  padding-block: 2rem;
  position: relative;
  align-items: flex-end;
  overflow: hidden;
  cursor: pointer;
}

.image-card-container > * {
  z-index: 2;
}

.image-card-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bgImage) center/cover no-repeat;
  filter: grayscale(1) brightness(0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, scale 0.3s ease-in-out;
}

.image-card-container:is(:hover, :focus)::before {
  opacity: 1;
  scale: 1.02;
}

.image-card-container h4 {
  padding: 1rem 3rem 1rem 1rem;
  position: relative;
  transition: color 0.3s ease-in-out;
  background-color: hsl(from var(--navs-color) h s l / 0.7);
}

.image-card-container h4::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(
    45deg,
    #e9c156,
    #ffffaa,
    #e1ab39,
    #7e5d48,
    #e9c156
  );
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.image-card-container:is(:hover, :focus) h4 {
  color: var(--navs-color);
}

.image-card-container:is(:hover, :focus) h4::before {
  transform: scaleX(1);
}
