.image-slider {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  inset: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.image-slider .btn-next,
.image-slider .btn-previous {
  all: unset;
  position: absolute;
  inset-block: 0;
  padding: 2rem;
  color: var(--thirtary-color);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
}

.image-slider .btn-next::before,
.image-slider .btn-previous::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.image-slider .btn-previous::before {
  background: linear-gradient(
    90deg,
    hsl(from var(--thirtary-color) h s l / 0.1),
    transparent
  );
}

.image-slider .btn-next::before {
  background: linear-gradient(
    -90deg,
    hsl(from var(--thirtary-color) h s l / 0.1),
    transparent
  );
}

.image-slider .btn-next:hover::before,
.image-slider .btn-previous:hover::before {
  opacity: 1;
}

.image-slider .btn-next {
  right: 0;
}

.image-slider .image {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

@media (width < 31.25rem) {
  .image-slider {
    aspect-ratio: 9 / 12;
  }

  .image-slider .btn-next,
  .image-slider .btn-previous {
    opacity: 1;
    inset-block: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 1rem;
    aspect-ratio: 1 / 1;
    background-color: var(--secondary-color);
    opacity: 0.9;
  }

  .image-slider .btn-next {
    right: 0.5rem;
  }

  .image-slider .btn-previous {
    left: 0.5rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .image-slider .image {
    transition: none !important;
  }
}
