.infinite-scrooler {
  width: 100%;
  max-width: 93.75rem;
  margin-top: 1rem;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.comment-prev,
.comment-next {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset-block: 0;
  padding: 1rem;
  color: var(--thirtary-color);
  cursor: pointer;
  z-index: 2;
}

.comment-prev {
  left: 0;
}

.comment-next {
  right: 0;
}

.comment-prev::before,
.comment-next::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    -90deg,
    hsl(from var(--thirtary-color) h s l / 0.1),
    transparent
  );
  opacity: 0;
}

.comment-prev::before {
  background: linear-gradient(
    90deg,
    hsl(from var(--thirtary-color) h s l / 0.1),
    transparent
  );
}

.comment-prev:hover::before,
.comment-next:hover::before,
.comment-prev:focus::before,
.comment-next:focus::before {
  opacity: 1;
}

.infinte-scroller-content {
  display: flex;
  width: 100%;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    red 10%,
    red 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, red 10%, red 90%, transparent);
}

.infinte-scroller-content li {
  max-width: 50%;
  min-width: 50%;
  display: flex;
  padding: 0.5rem;
}

@media (width < 50rem) {
  .infinte-scroller-content li {
    min-width: 100%;
  }
}
