.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-color);
  position: fixed;
  z-index: 999;
  inset: 0;
}

.loading.loading-done {
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: flicker 1s ease-in-out infinite alternate;
}

.loading-logo {
  width: 16rem;
  aspect-ratio: 16 / 8;
  background-image: url("/logo-transition.avif");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.loading-done .loading-logo {
  transform: translateX(100vw);
  transition: 0.5s 2s cubic-bezier(1, 0, 0.19, 1);
}

.loading p {
  font-weight: bold;
  font-size: 1.5rem;
}

.loading-done.loading p {
  opacity: 0;
  transition: 0.2s 2s ease;
}

@media (width < 37.5rem) {
  .loading-logo {
    width: 12rem;
  }

  .loading p {
    font-size: 1.2rem;
  }
}

@keyframes flicker {
  to {
    opacity: 0.2;
  }
}
