.loading-container {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: var(--bg-color);
  flex-direction: column;
  gap: 3rem;
  position: fixed;
  inset: 0;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container.loading {
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.loading-container.removing {
  animation: vanish 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.loading-container img {
  width: 15rem;
}

.loading-container h4 {
  color: var(--text-color);
}

.loading-container.loading img,
.loading-container.loading h4 {
  animation: loading 1s ease-in-out infinite alternate;
}

.loading-container.removing img {
  animation: loaded 0.5s ease-in-out forwards;
}

@keyframes loading {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loaded {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes vanish {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
