.modal-outer-container {
  position: fixed;
  display: flex;
  inset: 0;
  z-index: 1000;
  background-color: hsl(from var(--bg-color) h s l / 0.7);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  animation: openModal 0.3s ease-in-out forwards;
}

.modal-inner-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 100%;
  max-width: 62.5rem;
  background-color: var(--navs-color);
  padding: 1rem;
  opacity: 0;
  animation: scaleIn 0.3s ease-in-out forwards;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  color: var(--text-color);
}

.modal-header h2 {
  margin-right: auto;
}

.modal-body {
  padding-block: 1rem;
}

@keyframes openModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
