.navbar-top {
  background-color: var(--navs-color);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  translate: 0 -50%;
  transition: translate 0.2s ease-in-out 0.8s;
  transform: translateZ(0);
}

.loaded .navbar-top {
  translate: 0 0;
  position: sticky;
  inset: 0 0 auto 0;
  z-index: 99;
}

@supports (animation-timeline: scroll()) {
  .navbar-top {
    padding-top: 1.5rem;
  }

  .loaded .navbar-top::before,
  .loaded .navbar-top::after {
    content: "";
    position: absolute;
    inset: 0 -0.1rem auto -0.1rem;
    height: 0.5rem;
  }

  .loaded .navbar-top::before {
    background-image: linear-gradient(
      135deg,
      #e9c156,
      #ffffaa,
      #e1ab39,
      #7e5d48,
      #e9c156
    );
  }

  .loaded .navbar-top::after {
    background-color: var(--navs-color);
    height: 0.6rem;
    transform-origin: right;
    animation: shrink linear;
    animation-timeline: scroll();
  }
}

.navbar-content-container {
  width: 100%;
  max-width: 93.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 1s;
}

.loaded .navbar-content-container {
  opacity: 1;
}

.navbar-content-container img {
  width: 10rem;
}

.links {
  display: flex;
  color: var(--text-color);
  list-style-type: none;
  justify-content: space-between;
  font-weight: bold;
  position: relative;
}

.links::before {
  content: "";
  position: absolute;
  inset: auto 0 -1.2rem 0;
  height: 3px;
  background: linear-gradient(
    135deg,
    #8d95a2,
    #d1d3d4,
    #ffffff,
    #e1ab39,
    #634632,
    #e9c156
  );
}

.menu {
  display: none;
}

.links li {
  position: relative;
}

.links li::before {
  content: "";
  position: absolute;
  height: 5px;
  inset: auto 0 -1.2rem 0;
  background-color: var(--navs-color);
  transform-origin: left;
  scale: 1 1;
  transform: translateZ(0);
  transition: scale 0.2s ease-in-out;
}

.links li:hover::before {
  transform-origin: right;
  scale: 0 1;
}

.links li:nth-child(5)::before {
  right: -1rem;
}

.links li a,
.links li button {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
  padding: 0.563rem 1rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem;
  cursor: pointer;
  background: transparent;
  border: none;
  font-weight: bold;
  position: relative;
}

.navigation-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120%;
  left: 0;
  padding-top: 1.4rem;
  width: max-content;
  align-items: flex-start;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.links li button .navigation-dropdown a {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  width: 100%;
  background-color: var(--navs-color);
  padding: 1rem 2rem 1rem 1rem !important;
}

.links li button:is(:hover, :focus) .navigation-dropdown,
.links li button .navigation-dropdown:focus-within {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.navigation-dropdown a:hover {
  filter: brightness(1.5);
}

.mobile-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100vh;
  height: 100dvh;
  position: fixed;
  inset: 0 0 auto auto;
  z-index: 1;
  padding: 0 1rem 0 3rem;
}

.mobile-navigation .close-menu {
  all: unset;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  position: absolute;
  right: 24px;
  top: 48px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.mobile-navigation .links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.mobile-navigation .links li::before {
  display: none;
}

.mobile-navigation .links a,
.mobile-navigation .links span {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  translate: 40% 0;
  transition: translate 0.5s ease-in-out;
  gap: 1rem;
  width: 100%;
  padding: 0.563rem 1rem;
  transform: translateZ(0);
}

.mobile-navigation.navigation-menu-open .close-menu {
  transition: opacity 0.5s ease-in-out 0.1s;
  opacity: 1;
}

.mobile-navigation.navigation-menu-open .links a,
.mobile-navigation.navigation-menu-open .links span {
  transition: translate 0.5s ease-out;
  translate: none;
}

.mobile-navigation-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding-left: 1rem;
  overflow: hidden;
  animation: closeMobileDropdown 0.3s ease-in-out forwards;
  transform: translateZ(0);
}

.mobile-navigation-dropdown.open {
  display: flex;
  flex-direction: column;
  animation: openMobileDropdown 0.3s ease-in-out forwards;
}

@media (width < 43.75rem) {
  .menu {
    display: flex;
    font-size: 2.25rem;
    color: var(--text-color);
  }

  .links {
    display: none;
  }

  .links::before {
    display: none;
  }
}

@keyframes openMobileDropdown {
  from {
    max-height: 0;
  }
  to {
    max-height: var(--dropDownHeight);
  }
}

@keyframes closeMobileDropdown {
  from {
    display: flex;
    max-height: var(--dropDownHeight);
  }
  to {
    display: none;
    max-height: 0;
  }
}

@keyframes shrink {
  to {
    scale: 0 1;
  }
}
