.navbar-top {
  background-color: var(--navs-color);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-content-container {
  width: 100%;
  max-width: 93.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content-container img {
  width: 160px;
}

.links {
  display: flex;
  color: var(--text-color);
  list-style-type: none;
  justify-content: space-between;
  font-weight: bold;
}

.menu {
  display: none;
}

.links li {
  position: relative;
}

.links li::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -1rem;
  right: 0;
  left: 0;
  background: linear-gradient(
    45deg,
    #8d95a2 70%,
    #d1d3d4 73%,
    #ffffff 77%,
    #e1ab39 88%,
    #634632 90%,
    #e9c156 92%
  );
  background-attachment: fixed;
}

.links li::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -1rem;
  right: 0;
  left: 0;
  background-color: var(--navs-color);
  transform-origin: left;
  transition: scale 0.1s ease-in-out;
}

.links li:hover::after {
  transform-origin: right;
  scale: 0 1;
}

.links li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
  padding: 0.563rem 1rem;
}

.mobile-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vh;
  height: 100dvh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.mobile-navigation .close-menu {
  all: unset;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  position: absolute;
  right: 24px;
  top: 48px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.mobile-navigation .links {
  display: flex;
  flex-direction: column;
}

.mobile-navigation .links li::before,
.mobile-navigation .links li::after {
  display: none;
}

.mobile-navigation .links a {
  display: flex;
  flex-direction: column;
  translate: 40%;
  transition: 0.2s ease-in-out;
}

.mobile-navigation.navigation-menu-open .close-menu {
  transition: 0.5s ease-in-out 0.1s;
  opacity: 1;
}

.mobile-navigation.navigation-menu-open .links a {
  transition: 0.5s ease-out;
  translate: 0;
}

@media (width < 43.75rem) {
  .menu {
    display: flex;
    font-size: 2.25rem;
    color: var(--text-color);
  }

  .links {
    display: none;
  }
}
