header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--navs-color);
  color: var(--text-color);
}

.navbar-logo {
  width: 10rem;
  height: 2.8rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 93.75rem;
}

.mobile-nav-container {
  display: none;
}

.menu-icon {
  display: none;
}

@media (width < 43.75rem) {
  .menu-icon {
    display: flex;
    height: 3.5rem;
    width: 3.5rem;
  }

  .mobile-nav-container {
    display: flex;
  }
}
