header.navigation {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem 1rem 1rem;
  background-color: transparent;
  color: var(--thirtary-color);
  z-index: 999999;
}

header.navigation::before {
  content: "";
  position: absolute;
  inset: 0 0 0;
  height: 0.1rem;
  transform-origin: left;
  background: var(--gold);
  scale: var(--scale, 0) 1;
}

header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--secondary-color);
  z-index: -2;
  opacity: 0;
  transition: opacity 0.2s ease;
}

header.scrolled::after {
  opacity: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 13rem;
  height: 3.64rem;
  transition: width 0.3s ease, height 0.3s ease;
}

header.scrolled .navbar-logo {
  width: 10rem;
  height: 2.8rem;
}

.menu-icon,
.menu-btn,
.menu-close {
  display: none;
}

.mobile-nav {
  display: none;
}

.desktop-nav .main-links,
.mobile-nav .main-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style-type: none;
}

.desktop-nav .main-links > li {
  position: relative;
  padding: 0;
}

.desktop-nav .main-links > li::before {
  content: "";
  position: absolute;
  height: 2px;
  transform-origin: right;
  inset: auto 0 0;
  background-color: var(--thirtary-color);
  border-radius: 50px;
  scale: 0 1;
  transition: scale 0.2s ease;
}

.desktop-nav .main-links > li:hover::before,
.desktop-nav .main-links > li:focus-within::before {
  transform-origin: left;
  scale: 1 1;
}

.desktop-nav .main-links a,
.desktop-nav .main-links .btn-link,
.mobile-nav .main-links a,
.mobile-nav .main-links .btn-link {
  all: unset;
  color: var(--thirtary-color);
  text-decoration: none;
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  width: auto;
  height: auto;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.desktop-nav .main-links .btn-link,
.mobile-nav .main-links .btn-link {
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.desktop-nav .secondary-links {
  z-index: 10;
  position: absolute;
  padding-top: 0.1rem;
  list-style-type: none;
  top: 100%;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 0.2s ease;
  min-width: 250px;
}

header.scrolled .desktop-nav .secondary-links {
  padding-top: 1.2rem;
}

.desktop-nav .secondary-links li {
  background-color: var(--secondary-color);
}

.desktop-nav .secondary-links li:hover,
.desktop-nav .secondary-links li:focus-within {
  background-color: var(--accent-color);
  transition: 0.2s ease;
}

.desktop-nav .secondary-links a {
  display: flex;
  padding: 0.75rem 3rem 0.75rem 1rem;
}

.desktop-nav .main-links .btn-link:hover + .secondary-links,
.desktop-nav .main-links .btn-link:hover ~ .secondary-links,
.desktop-nav .main-links .btn-link:focus + .secondary-links,
.desktop-nav .main-links .btn-link:focus ~ .secondary-links,
.secondary-links:focus-within,
.secondary-links:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-indicator {
  display: none;
}

@media (width < 48.125rem) {
  header {
    padding: 1rem;
  }

  .desktop-nav {
    display: none;
  }

  .menu-icon {
    display: flex;
    font-size: 2rem;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
  }

  .navbar-logo {
    width: 10rem;
    height: 2.8rem;
    transition: 0.5s ease;
  }

  .menu-btn {
    all: unset;
  }

  .menu-close {
    all: unset;
    position: fixed;
    top: 1rem;
    right: 1rem;
    color: var(--thirtary-color);
    border: 2px solid;
    display: flex;
    border-radius: 50%;
    padding: 0.2rem;
    opacity: 0;
    transition: 0.3s ease;
  }

  .menu-open .menu-close {
    opacity: 1;
    transition: 0.3s 0.3s ease;
  }

  .mobile-nav .main-links {
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(20%);
    opacity: 0;
    transition: 0.3s ease;
  }

  .menu-open.mobile-nav .main-links {
    transform: translate(-10%);
    opacity: 1;
    transition: 0.3s 0.3s ease;
  }

  .mobile-nav .main-links li {
    width: 100%;
  }

  .mobile-nav .main-links a,
  .mobile-nav .main-links .btn-link {
    width: 100%;
  }

  .menu-chevron {
    transform: rotate(90deg);
    transition: 0.3s 0.1s ease;
  }

  .menu-dropdown-open.menu-chevron {
    transform: rotate(0);
  }

  .mobile-nav .secondary-links {
    list-style-type: none;
    padding-left: 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease;
  }

  .mobile-nav .menu-dropdown-open.secondary-links {
    transition: 1s ease;
    max-height: 500px;
    transform: translateZ(0);
  }
}
