header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--thirtary-color);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 10rem;
  height: 2.8rem;
}

.mobile-nav-container {
  display: none;
}

.menu-icon {
  display: none;
}

@media (width < 43.75rem) {
  .menu-icon {
    display: flex;
    font-size: 2.5rem;
  }

  .desktop-navigation {
    display: none;
  }

  .mobile-nav-container {
    display: flex;
  }
}
