.price-card {
  background-color: var(--accent-color2);
  border-radius: 5px;
  width: 100%;
  color: var(--thirtary-color);
  padding: 1rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: 0.2s ease;
  position: relative;
  background-size: 200%;
  overflow: hidden;
  justify-self: center;
}

.price-card::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2;
  opacity: 0;
  transition: 0.3s ease;
  background-image: url("/droplets.png");
  background-size: 50% 30%;
  filter: blur(1px);
}

.price-card:hover::before {
  opacity: 0.15;
}

.price-card header {
  all: unset;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.price-card header h4 {
  font-size: 2rem;
  font-weight: normal;
  max-width: 20ch;
}

.price-card header strong {
  font-size: 2.4rem;
  display: flex;
  align-items: flex-start;
}

.price-card ul {
  padding-inline: 2rem;
  list-style-type: square;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 75ch;
}

.price-card ul li {
  font-size: 1rem;
}

.price-card footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.price-card footer span,
.price-card footer strong {
  font-size: 1.1rem;
}

.price-card .btn {
  margin-top: auto;
  margin-inline: auto;
}

.price-card:hover {
  scale: 1.01;
}
