.textarea-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  position: relative;
}

.textarea-container textarea {
  all: unset;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  min-height: 5rem;
  resize: vertical;
  color: var(--thirtary-color);
}

.textarea-container label {
  padding-inline: 1rem;
  transform: translateY(2.7rem);
  transition: transform 0.2s ease-in-out;
  align-self: flex-start;
  color: var(--thirtary-color);
}

.textarea-container textarea::placeholder {
  color: transparent;
  transition: color 0.2s ease-in-out;
}

.textarea-container::before {
  content: "";
  position: absolute;
  inset: 100% 0 auto;
  height: 1px;
  background-image: var(--gold);
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
  background-attachment: fixed;
}

.textarea-container:focus-within::before {
  transform: scaleX(1);
}

.textarea-container textarea:focus::placeholder {
  color: hsl(0 100% 100% / 0.5);
}

.textarea-container:focus-within label,
.textarea-container textarea:not(:placeholder-shown) + label {
  transform: translateY(30%);
}
