.category {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.category article {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
}

.category section {
  max-width: 75ch;
}

.category img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 5px;
  scale: 0.8;
  opacity: 0;
  transition: 0.3s ease;
}

.loaded .category .image-pop {
  transition-delay: var(--transition-delay, 3.3s);
  opacity: 1;
  scale: 1;
}

.category article.category-prices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
  justify-items: center;
}

@media (width < 56.25rem) {
  .category {
    margin: 0;
  }

  .category article {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}

@media (width <= 28rem) {
  .loaded .category .image-pop {
    transition-delay: 0s;
  }
}
