.exterior {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.exterior article {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
}

.exterior section {
  max-width: 75ch;
}

.exterior img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 5px;
}

@media (width < 56.25rem) {
  .exterior {
    margin: 0;
  }

  .exterior article {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}
