.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home p {
  max-width: 75ch;
}

.home hr {
  width: 100%;
  transform: scaleX(1.3);
  border: none;
  height: 1px;
  background: var(--gold);
}

.home .category-list {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
}
