@font-face {
  font-family: "Ibarra";
  src: url("/fonts/IbarraRealNova-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mentor Black Regular";
  src: url("/fonts/Mentor-Black-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mentor Black Italic";
  src: url("/fonts/Mentor-Black-Italic.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Crimson Pro Italic";
  src: url("/fonts/CrimsonPro-BoldItalic.ttf") format("truetype"),
    url("/fonts/CrimsonPro-BoldItalic.woff") format("woff"),
    url("/fonts/CrimsonPro-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("/fonts/CrimsonPro-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.8;
  letter-spacing: 0.12rem;
  font-size: 1rem;
  /* outline: 1px solid lime !important; */
}

:root {
  --secondary-color: hsl(180, 40%, 4%);
  --primary-color: #101414;
  --thirtary-color: #d2d4d5;
  --accent-color: #2a2e2e;
  --accent-color2: hsl(180, 11%, 15%);

  /* --gold: linear-gradient(45deg, #e9c156, #ffffaa, #e1ab39, #c99270, #e9c156); */
  --gold: linear-gradient(45deg, #b89f3d, #c2ae64, #a37e2a, #8d6d54, #b89f3d);
  --gold-transparent: linear-gradient(
    0deg,
    rgba(184, 159, 61, 0.6),
    rgba(194, 174, 100, 0.5),
    rgba(163, 126, 42, 0.4),
    transparent 70%
  );
  /* --silver: linear-gradient(
    40deg,
    #8d95a2,
    #d1d3d4,
    #ffffff,
    #7a797a,
    #f1f2f2,
    #d1d3d4
  ); */
  --silver: linear-gradient(40deg, #7f848c, #a6aaaf, #727375, #5e5f60, #7f848c);

  --title-small: 1.5rem;
  --title-regular: 2.25rem;
  --title-big: 3rem;
}

body {
  font-family: "Lato";
  background-color: var(--secondary-color);
  overflow: hidden;
  max-width: 100vw;
}

.content {
  position: relative;
  overflow: hidden;
  background-color: var(--primary-color);
  transition: 0.5s ease;
  z-index: 100;
}

.content::before {
  content: "";
  z-index: 20000;
  position: fixed;
  inset-inline: 0;
  top: var(--scroll-offset);
  height: 100svh;
  display: none;
}

.content.menu-open {
  transform: scale(0.5) translateX(-120%);
}

.content.menu-open::before {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Pro";
}

h1,
h2,
h3 {
  font-family: "Crimson Pro Italic" !important;
  background: var(--gold);
  background-clip: text;
  color: transparent;
}

h1 {
  font-size: var(--title-big);
}

h2 {
  font-size: var(--title-regular);
}

h3 {
  font-size: var(--title-small);
}

p,
span {
  color: var(--thirtary-color);
}

.container {
  width: 100%;
  max-width: 93.75rem;
}

.page-container {
  height: 100svh;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-open .page-container {
  overflow-y: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}
