@font-face {
  font-family: "Minion Pro";
  src: url("/fonts/Minion-BoldIt.otf");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura-Book-font.ttf");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2;
  letter-spacing: 0.15rem;
  font-size: 1rem;
  /* outline: 1px solid lime !important; */
}

:root {
  --secondary-color: hsl(180, 40%, 4%);
  --primary-color: #101414;
  --thirtary-color: #d2d4d5;
  --accent-color: #2a2e2e;

  --gold: linear-gradient(45deg, #e9c156, #ffffaa, #e1ab39, #7e5d48, #e9c156);
  --silver: linear-gradient(
    40deg,
    #8d95a2,
    #d1d3d4,
    #ffffff,
    #7a797a,
    #f1f2f2,
    #d1d3d4
  );
  --mixed: linear-gradient(
    135deg,
    #8d95a2,
    #d1d3d4,
    #ffffff,
    #e1ab39,
    #634632,
    #e9c156
  );

  --title-small: 1.5rem;
  --title-regular: 2.25rem;
  --title-big: 3rem;
}

body {
  font-family: "Futura";
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.6;
  background-color: var(--secondary-color);
}

.content {
  height: 100dvh;
  position: relative;
  overflow-y: auto;
  background-color: var(--primary-color);
  transition: 0.5s ease;
  z-index: 100;
}

.content::before {
  content: "";
  z-index: 20;
  position: fixed;
  inset-inline: 0;
  top: var(--scroll-offset);
  height: 100dvh;
  display: none;
}

.content.menu-open {
  overflow-y: hidden;
  transform: scale(0.5) translateX(-120%);
}

.content.menu-open::before {
  display: flex;
}

h1,
h2,
h3 {
  font-family: "Minion Pro";
  background-image: var(--gold);
  background-clip: text;
  color: transparent;
}

h1 {
  font-size: var(--title-big);
}

h2 {
  font-size: var(--title-regular);
}

h3 {
  font-size: var(--title-small);
}

p {
  color: var(--thirtary-color);
}

.container {
  width: 100%;
  max-width: 93.75rem;
}
