@font-face {
  font-family: "Minion Pro";
  src: url("/fonts/Minion-BoldIt.otf");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura-Book-font.ttf");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid lime !important; */
}

:root {
  --navs-color: hsl(180, 37%, 4%);
  --bg-color: hsl(180, 12%, 7%);
  --text-color: hsl(200, 3%, 83%);

  --title-small: 1.5rem;
  --title-regular: 2.25rem;
  --title-big: 3rem;
}

body {
  font-family: "Futura";
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

h1,
h2,
h3 {
  font-family: "Minion Pro";
  background-image: linear-gradient(
    45deg,
    #e9c156,
    #ffffaa,
    #e1ab39,
    #7e5d48,
    #e9c156
  );
  background-clip: text;
  color: transparent;
}

h1 {
  font-size: var(--title-big);
}

h2 {
  font-size: var(--title-regular);
}

h3 {
  font-size: var(--title-small);
}

p,
cite,
a,
strong {
  line-height: 1.5rem;
}

.outer-container {
  background-color: var(--navs-color);
  min-height: 100dvh;
  position: relative;
}

.content {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100dvh;
  position: absolute;
  inset: 0;
  z-index: 5;
  transition: scale 0.5s ease-in-out, translate 0.5s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.content.content-menu-open {
  scale: 0.5;
  translate: -60%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    180deg,
    #8d95a2,
    #d1d3d4,
    #ffffff,
    #7a797a,
    #f1f2f2,
    #d1d3d4
  );
  border-radius: 50px;
}

@supports (animation-timeline: scroll()) {
  ::-webkit-scrollbar {
    display: none;
  }
}
