@import "tailwindcss";

@theme {
  --color-light: #fafafa;
  --color-dark: #1a1110;
  --color-gray-light: #91918e;
  --color-gray-semidark: #3e3d3c;
  --color-gray-dark: #2b2b2b;
  --font-title: "Poppins", sans-serif;
  --font-content: "Inter", serif;
}
